body {
    background-color: black;
}

.glass-block {
    background-image: linear-gradient(
        to bottom,
        rgb(255 255 255 / 0.15),
        30%,
        rgb(255 255 255 / 0.1)
    );
    border: solid 1px rgb(255 255 255 / 0.1);
    border-radius: 0.5rem;
    color: rgb(255 255 255 / 0.6);
}